<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>770557461513-q4ui9b1gjcqj5bbc4rjkdcma5elf4eev.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.770557461513-q4ui9b1gjcqj5bbc4rjkdcma5elf4eev</string>
	<key>API_KEY</key>
	<string>AIzaSyD_DB8vEOLT-M62m_qnpgBgXTLAw41ZTVA</string>
	<key>GCM_SENDER_ID</key>
	<string>770557461513</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gmail.jinkirino.SampleChatApp</string>
	<key>PROJECT_ID</key>
	<string>samplechatapp-69ffb</string>
	<key>STORAGE_BUCKET</key>
	<string>samplechatapp-69ffb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:770557461513:ios:736737498218192ff4e4d8</string>
</dict>
</plist>